.formuuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ddecf0;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
}